<template>
    <HeaderPage />
    <div class="form-area">
        <h1>Add Restaurant</h1>
        <div class="message-area" v-if="errorMsgs || this.successMsg || this.errorMsg">
            <p v-if="errorMsgs.length" style="margin-bottom: 5px;">
                <ul id="error-list">
                    <li v-for="(error, i) in errorMsgs" :key="i" class="alert alert-danger">{{ error }}</li>
                </ul>
            </p>
            <div class="alert-message" v-if="this.successMsg">
                <h3 style="color: green;">{{ this.successMsg }}</h3>
            </div>
            <div class="alert-message" v-if="this.errorMsg">
                <h5 style="color: red;">{{ this.errorMsg }}</h5>
            </div>
        </div>
        <form ref="formSubmission" >
            <input type="text" name="title" placeholder="Enter restaurant title" v-model="restaurant.title" />
            <input type="text" name="address" placeholder="Enter restaurant address" v-model="restaurant.address" />
            <input type="text" name="contact" @keypress="isNumber()" placeholder="Enter contact number" v-model="restaurant.contact" />
            <button type="button" v-on:click="saveData" class="addBtn">Add</button>
        </form>
        <router-link to="/restaurants">Back to list</router-link>
    </div>
</template>
<script>
    import HeaderPage from '../HeaderPage.vue'
    import axios from 'axios'
    export default{
        // eslint-disable-next-line vue/multi-word-component-names
        name: 'Create',
        components: {
            HeaderPage
        },
        data(){
            return{
                restaurant:{
                    title:'',
                    address:'',
                    contact:''
                },
                successMsg:'',
                errorMsg:'',
                errorMsgs:[]
            }
        },
        methods:{
            async saveData(){
                this.validation();
                console.log(this.restaurant);
                if(this.errorMsgs.length === 0)
                {
                    await axios.post('http://localhost:3000/restaurants',this.restaurant)
                        .then((res)=>{
                            console.log(res);
                            if(res.status === 201 && res.data)
                            {
                                this.successMsg = "Data saved successfully"
                            }else{
                                this.errorMsg = "Something went wrong"
                            }
                            this.$refs.formSubmission.reset();
                        })
                        .catch((error)=>{
                            console.log(error);
                        })
                }
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode >= 48 && charCode <= 57) {
                    return true;
                } else {
                    evt.preventDefault();
                }
            },
            validation()
            {
                this.errorMsgs = [];
                if(this.restaurant.title === '' && this.restaurant.address === '' && this.restaurant.contact === '')
                {
                    this.errorMsgs.push("All fields are required");
                    return false;
                }
                if(this.restaurant.title === '')
                {
                    this.errorMsgs.push("Name field is required");
                }
                if(this.restaurant.address === '' )
                {
                    this.errorMsgs.push("Address field is required");
                }
                console.log(this.restaurant.contact.length);
                if(this.restaurant.contact === '' )
                {
                    this.errorMsgs.push("Contact field is required");
                }else if(this.restaurant.contact && this.restaurant.contact.length !== 11)
                {
                    this.errorMsgs.push("Minimum or maximum number length is 11");
                }
                if(this.errorMsgs.length === 0)
                {
                    return true;
                }
                return false;
            }
        },
        mounted()
        {
            let user = localStorage.getItem('user-info');
            if(!user)
            {
                this.$router.push({path:'/sign-up'});
            }
        }
    }
</script>