<template>
    <HeaderPage />
    <div class="table-area">
        <h1>List of Restaurant</h1>
        <div class="message-area" v-if="this.successMsg || this.errorMsg">
            <div class="alert-message" v-if="this.successMsg">
                <h3 style="color: green;">{{ this.successMsg }}</h3>
            </div>
            <div class="alert-message" v-if="this.errorMsg">
                <h5 style="color: red;">{{ this.errorMsg }}</h5>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>#SN</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in restaurants" :key=item.id>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.contact }}</td>
                    <td>
                        <router-link :to="'/restaurants/view/'+item.id" class="actionBtn view"><font-awesome-icon icon="eye" /></router-link>
                        <router-link :to="'/restaurants/edit/'+item.id" class="actionBtn edit"><font-awesome-icon icon="pen-to-square" /></router-link>
                        <a v-on:click="deleteItem(item.id)" href="javascript:void(0)" class="actionBtn delete"><font-awesome-icon icon="trash-can" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import HeaderPage from '../HeaderPage.vue'
    import { library } from "@fortawesome/fontawesome-svg-core";
    import Axios from 'axios'
    import { faEye, faPenToSquare, faTrashCan } from "@fortawesome/free-solid-svg-icons";
    library.add(faEye, faPenToSquare, faTrashCan);

    export default{
        // eslint-disable-next-line vue/multi-word-component-names
        name: 'Index',
        components: {
            HeaderPage,
            
        },
        data()
        {
            return {
                restaurants: [],
                successMsg:'',
                errorMsg:''
            }
        },
        methods:
        {
            async deleteItem(id)
            {
                await Axios.delete('http://localhost:3000/restaurants/'+id)
                    .then((res)=>{
                        console.log(res);
                        if(res.status === 200)
                        {
                            this.successMsg = "Data deleted successfully";
                            this.loadData();
                        }else{
                            this.successMsg = "Something went wrong";
                        }
                    })
                    .catch(function (error) {
                            console.log('Error', error);
                    });
            },
            async loadData()
            {
                let user = localStorage.getItem('user-info');
                if(!user)
                {
                    this.$router.push({path:'/sign-up'});
                }
                await Axios.get('http://localhost:3000/restaurants')
                        .then((res)=>{
                            if(res.status === 200 && res.data.length > 0)
                            {
                                this.restaurants = res.data;
                            }
                        })
                        .catch(function (error) {
                                console.log('Error', error);
                        });
            }
        },
        async mounted()
        {
            this.loadData();
        }
    }
</script>