<template>
    <HeaderPage />
    <div class="table-area">
        <h1>Details information about "{{ restaurant.title }}"</h1>
        <router-link to="/restaurants">Back</router-link>
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{ restaurant.title }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ restaurant.address }}</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>{{ restaurant.contact }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import HeaderPage from '../HeaderPage.vue'
    import { library } from "@fortawesome/fontawesome-svg-core";
    import Axios from 'axios'
    import { faEye, faPenToSquare, faTrashCan } from "@fortawesome/free-solid-svg-icons";
    library.add(faEye, faPenToSquare, faTrashCan);

    export default{
        // eslint-disable-next-line vue/multi-word-component-names
        name: 'View',
        components: {
            HeaderPage,
        },
        data()
        {
            return {
                restaurant: []
            }
        },
        methods()
        {

        },
        async mounted()
        {
            let user = localStorage.getItem('user-info');
            if(!user)
            {
                this.$router.push({path:'/sign-up'});
            }
            await Axios.get(`http://localhost:3000/restaurants/${this.$route.params.id}`)
                    .then((res)=>{
                        console.log('res', res);
                        if(res.status === 200 && res.data)
                        {
                            this.restaurant = res.data;
                        }
                    })
                    .catch(function (error) {
                            console.log('Error', error);
                    });
                    console.log('restaurant', this.restaurant);
}
    }
</script>