<template>
    <div>
        <ul>
            <li><router-link class="active" to="/">Home</router-link></li>
            <li><router-link to="/restaurants/create">Create Restaurant</router-link></li>
            <li><router-link to="/restaurants">Restaurant List</router-link></li>
            <li><router-link to="/about">About</router-link></li>
            <li><a v-on:click="logout" href="javascript:void(0)">Logout</a></li>
        </ul>
    </div>
</template>
<script>
    export default {
        name: 'HeaderPage',
        data(){
            return {
                user: ''
            }
        },
        methods:{
            logout()
            {
                localStorage.clear();
                this.$router.push({path: '/login'});
                console.log("logout");
            }
        }
    }
</script>