<template>
    <HeaderPage data="${this.user}" />
    <h1>{{ this.name }} - Home page</h1>
</template>
<script>
    import HeaderPage from './HeaderPage.vue'
    export default{
        name: 'HomePage',
        data() {
            return{
                name: ''
            }
        },
        components: {
            HeaderPage
        },
        mounted()
        {
            let user = JSON.parse(localStorage.getItem('user-info'));
            if(!user)
            {
                this.$router.push({path:'/sign-up'});
            }else {
                this.name = user.name;
            }
        }
    }
</script>