<template>
    <img class="img-responsive" src="../assets/login.png" />
    <div class="message-area" v-if="this.successMessage || this.errorMessage">
        <div class="alert-message" v-if="this.successMessage">
            <h2 style="color: green;">{{ this.successMessage }}</h2>
        </div>
        <div class="alert-message" v-if="this.errorMessage">
            <h2 style="color: red;">{{ this.errorMessage }}</h2>
        </div>
    </div>
    <div class="register">
        <form ref="userForm" @submit.prevent="login">
            <input type="email" v-model="email" placeholder="Enter email" />
            <input type="password" v-model="password" placeholder="Enter password" />
            <button type="submit" class="saveBtn">Login</button>
        </form>
    </div>
    <div class="bottom-area">
        <router-link to="/sign-up" class="loginBtn">SignUp</router-link>
    </div>
</template>
<script>
    import Axios from 'axios'
    export default {
        name: 'LoginPage',
        data(){
            return {
                email: this.email,
                password: this.password,
                successMessage:'',
                errorMessage:''
            }
        },
        methods: {
            async login()
            {
                await Axios.get(`http://localhost:3000/users?email=${this.email}&password=${this.password}`)
                    .then((res)=>{
                        console.log(res);
                        if(res.status == 200 && res.data.length > 0)
                        {
                            this.successMessage = "Data saved successfully";
                            localStorage.setItem('user-info', JSON.stringify(res.data[0]));
                            this.$router.push({path:'/'})
                        }else{
                            this.errorMessage = "Something went wrong";
                            this.$router.push({path:'/login'})
                        }
                    })
                    .catch(function (error) {
                        if (error.response) {
                        // The request was made and the server responded with a status code
                        // that falls out of the range of 2xx
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                        } else {
                        // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                        }
                    });
            }
        },
        mounted()
        {
            let user = localStorage.getItem('user-info');
            console.log('user', user);
            if(user)
            {
                this.$router.push({path:'/'});
            }
        }
    }
</script>