<template>
    <img class="img-responsive" src="../assets/sign-up.png" />
    <div class="message-area" v-if="errors.length || this.successMessage || this.errorMessage">
        <p v-if="errors.length" style="margin-bottom: 105px;">
          <b>Please fill in all the fields</b>
          <ul>
            <li v-for="(error, i) in errors" :key="i" class="alert alert-danger">{{ error }}</li>
          </ul>
        </p>
        <div class="alert-message" v-if="this.successMessage">
            <h2 style="color: green;">{{ this.successMessage }}</h2>
        </div>
        <div class="alert-message" v-if="this.errorMessage">
            <h2 style="color: red;">{{ this.errorMessage }}</h2>
        </div>
    </div>
    <div class="register">
        <form ref="userForm" @submit.prevent="onSubmit">
            <input type="text" v-model="newUser.name" placeholder="Enter name" />
            <input type="email" v-model="newUser.email" placeholder="Enter email" />
            <input type="password" v-model="newUser.password" placeholder="Enter password" />
            <button type="submit" class="saveBtn">Save</button>
        </form>
    </div>
    <div class="bottom-area">
        <router-link to="/login" class="loginBtn">Login</router-link>
    </div>
</template>

<script>
    import Axios from 'axios';
    export default {
        name: 'SignUp',
        data(){
            return {
                errorMessage: "",
                successMessage: "",
                text: "success",
                errors: [],
                users: [],
                newUser: { name: "", email: "", password: ""}
            }
        },
        methods:{
            async onSubmit(){
                this.checkForm();
                if(!this.errors.length)
                {
                    var formData =this.newUser;
                    await Axios.post('http://localhost:3000/users',formData)
                        .then((res)=>{
                            console.log(res.data);
                            if(res.status == 201)
                            {
                                this.successMessage = "Data saved successfully";
                                localStorage.setItem('user-info', JSON.stringify(res.data));
                                this.$router.push({path:'/'})
                            }else{
                                this.errorMessage = "Something went wrong";
                                this.$router.push({path:'/login'})
                            }
                        })
                        .catch(function (error) {
                            if (error.response) {
                            // The request was made and the server responded with a status code
                            // that falls out of the range of 2xx
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            } else {
                            // Something happened in setting up the request that triggered an Error
                                console.log('Error', error.message);
                            }
                        });
                }
            },
            clearMessage: function(){
                this.errorMessage = "";
                this.successMessage = "";
            },
            //validation
            checkForm: function () {
                this.errors = [];

                if (!this.newUser.name) {
                    this.errors.push("Name is required.");
                }
                if (!this.newUser.password) {
                    this.errors.push("Password is required.");
                }
                if (!this.newUser.email) {
                    this.errors.push('Email Required.');
                } else if (!this.validEmail(this.newUser.email)) {
                    this.errors.push('Valid Email Address Required.');
                }
                if (!this.errors.length) {
                    return true;
                }
            },
            validEmail: function (email) {
            // eslint-disable-next-line no-useless-escape
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
            }
        },
        mounted()
        {
            let user = localStorage.getItem('user-info');
            console.log('user', user);
            if(user)
            {
                this.$router.push({path:'/'});
            }
        }
    }
</script>
