*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.bottom-area {
    margin-top: 25px;
}
.message-area {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.message-area ul {
    list-style: none;
}
.message-area ul li {
    float: left;
    padding: 5px 15px;
}
img.img-responsive {
    max-width: 25%;
}
.register input, .form-area input {
    display: block;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #ec9f40;
    border-radius: 5px;
}
.form-area input {
    border: 1px solid #2a36d561;
}
button.saveBtn, button.addBtn {
    padding: 15px 0px;
    border: 1px solid #c67508;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 315px;
}
button.addBtn {
    border: 1px solid #4ca772b0;
}
button.addBtn:hover {
    border: 1px solid #4ca772b0;
    background: #4ca772b0;
    color: #ffffff;
}
button.saveBtn:hover, a.loginBtn:hover {
    background: #ec9f40;
    border: 1px solid #c67508;
    color: #fff;
}
a.loginBtn {
    padding: 15px 135px;
    border: 1px solid #c67508;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
ul, ul#error-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul#error-list {
    background-color: transparent;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4ca772;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
th {
    background-color: #04AA6D;
    color: white;
}
.table-area {
    padding: 20px;
}
.table-area h1 {
    margin-bottom: 20px;
}
a.actionBtn {
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
a.actionBtn.view {
    color: #2b38dfd6;
    border: 1px solid #2a36d58a;
}
a.actionBtn.edit {
    color: #ec9f40;
    border: 1px solid #ec9f40c7;
}
a.actionBtn.delete {
    color: #ff253a;
    border: 1px solid #ff253abf;
}
.form-area h1 {
    padding: 25px 0px;
}

